@{
    ViewData["Title"] = "Forgot Password";
}

<link rel="stylesheet" href="~/css/login.css">

<div class="container-login">
    <h3>@ViewData["Title"]</h3>

    <form method="post">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="submit" value="Reset Password">
    </form>
    <a asp-controller="Login" asp-action="UserLogin">Back to Login</a>
</div>
