@{
    ViewData["Title"] = "Forgot Password";
}

<center>
    <h3>@ViewData["Title"]</h3>
</center>

<center>
    <form method="post">
        <input type="email" name="email" placeholder="Enter your email"><br><br>
        <input type="submit" value="Reset Password">
    </form>
    <a asp-controller="Login" asp-action="UserLogin">Back to Login</a>
</center>
